* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #eea564;
  position: relative;
  height: 100vh;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 80vw;
  position: relative;
}

.heading {
  display: inline-block;
  font-size: 4.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 8rem;
  margin-bottom: 6rem;
}
@media screen and (max-width: 600px) {
  .heading {
    font-size: 3.5rem;
    margin-top: 15rem;
  }
}

.card-container {
  height: 60vh;
  border-radius: 3px;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .card-container {
    margin-top: 0rem;
  }
}

.card {
  width: 60%;
  height: 100%;
  justify-self: center;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}
.card__side {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 0.2s;
}
.card__side-front {
  background-color: #fff;
}
.card__side-back {
  transform: rotateY(180deg);
}
.card__side-back-1 {
  background-color: aqua;
}
.card__side-back-2 {
  background-color: violet;
}
.card__side-back-3 {
  background-color: orangered;
}
.card__side-back-4 {
  background-color: yellowgreen;
}
.card__side-back-5 {
  background-color: #eee;
}
.card__side-back-6 {
  background-color: #000;
}
.card__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.card__image-front {
  background-image: url("../image/cute-express.png");
  background-size: cover;
}

.flip {
  cursor: default;
}
.flip .card__side-front {
  transform: rotateY(-180deg);
}
.flip .card__side-back {
  transform: rotateY(0);
}

.btn {
  display: block;
  border: none;
  background-color: #775332;
  color: #fff;
  font-size: 2.75rem;
  font-weight: 600;
  padding: 1.25rem 2.5rem;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  transition: all 0.2s;
  transform: translate(-50%, 0);
}
.btn--option-1 {
  top: 50%;
  left: 30%;
}
@media screen and (max-width: 600px) {
  .btn--option-1 {
    top: 40%;
    left: 50%;
  }
}
.btn--option-2 {
  top: 50%;
  left: 70%;
}
@media screen and (max-width: 600px) {
  .btn--option-2 {
    top: 55%;
    left: 50%;
  }
}
.btn--option-3 {
  top: 60%;
  left: 30%;
}
@media screen and (max-width: 600px) {
  .btn--option-3 {
    top: 75%;
    left: 50%;
  }
}
.btn--option-4 {
  top: 60%;
  left: 70%;
}
@media screen and (max-width: 600px) {
  .btn--option-4 {
    left: 50%;
  }
}
.btn:hover {
  transform: translate(-50%, -3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1000px) {
  .btn {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 800px) {
  .btn {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .btn {
    font-size: 1.8rem;
  }
}

.howToPlay {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 3px solid #775332;
  border-radius: 3px;
  position: absolute;
  top: 8rem;
  left: 1rem;
  transition: all 0.2s;
  transform: translateY(-7rem);
}
.howToPlay:hover {
  color: #fff;
  background-color: #775332;
}
@media screen and (max-width: 800px) {
  .howToPlay {
    font-size: 1.75rem;
  }
}

.rule {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
}
.rule__content {
  width: 45vw;
  height: 100vh;
  padding: 3rem;
  background-color: #fff;
  position: relative;
  transition: all 0.2s;
  transform: translateX(-75%);
  opacity: 0;
}
@media screen and (max-width: 800px) {
  .rule__content {
    width: 60vw;
  }
}
@media screen and (max-width: 600px) {
  .rule__content {
    width: 100vw;
  }
}
.rule__header {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}
.rule__things {
  padding-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 1.7;
}
.rule__close:link, .rule__close:visited {
  font-size: 5rem;
  font-weight: 700;
  text-decoration: none;
  color: #333;
  transition: all 0.2s;
  position: absolute;
  top: 0.75rem;
  right: 2rem;
}
.rule__close:hover {
  color: #775332;
}
.rule:target {
  opacity: 1;
  visibility: visible;
}
.rule:target .rule__content {
  opacity: 1;
  transform: translateX(0);
}

.timer-container {
  position: absolute;
  font-size: 4rem;
  font-weight: 700;
  background-color: #fff;
  color: #333;
  letter-spacing: 5px;
  border-radius: 2px;
  width: 210px;
  height: 70px;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .timer-container {
    width: 200px;
    height: 60px;
    font-size: 3rem;
    top: 15rem;
  }
}

.time {
  transform: translateY(2px);
}

.result-text {
  font-size: 4.5rem;
  font-weight: 500;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 600px) {
  .result-text {
    font-size: 3rem;
  }
}

.hide {
  display: none;
}

.matched {
  visibility: hidden;
  opacity: 0;
}

.grid-2r-2c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}

.grid-3r-4c {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.5rem;
}/*# sourceMappingURL=style.css.map */